body {
    margin: 0;
    font-size: 15px;
    font-family: Robot, sans-serif;
    line-height: 1.6;
    background: #dcdcdc;
}

.container {
    height: auto;
    width: 550px;
    margin: auto;
    border-radius: 10px;
    box-shadow: black;
    background: aliceblue;
    text-align: center;
}

.container-logo {
    color: black;
    font-family: Robot, sans-serif;
    font-size: 25px;
}

.container-bar_input {
    height: 35px;
    border-radius: 10px;
    border: 1px solid black;
}

.container-bar__saveButton {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    color: white;
    box-shadow: 3px 3px 3px black;
    background: cornflowerblue;
    font-weight: bold;
}
.container-tab{
    margin: auto;
    padding: 10px;
}
.container-tabFinished{
    margin: auto;
    padding: 10px;
}

.container-tab__line {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    border-radius: 15px;
    background: azure;
    box-shadow: 3px 3px 3px gray;
    margin: 10px;
}




.container-tab__task__button__delete {
    width: 80px;
    height: 35px;
    border-radius: 15px;
    border:0;
    color: white;
    box-shadow:2px 2px 2px black;
    background: red;
    font-weight: bold;
    margin-left: 5px;
}


.container-tab__task__button__finished {
    width: 83px;
    height: 35px;
    border-radius: 15px;
    border: 0;
    color: white;
    box-shadow: 2px 2px 2px black;
    background: darkgreen;
    font-weight: bold;
    margin-left: 5px;
}


