body {
    margin: 0;
    font-size: 15px;
    font-family: Robot, sans-serif;
    line-height: 1.6;
    background: #dcdcdc;
}

.container {
    height: auto;
    width: 550px;
    margin: auto;
    border-radius: 10px;
    box-shadow: black;
    background: aliceblue;
    text-align: center;
}

.container-logo {
    color: black;
    font-family: Robot, sans-serif;
    font-size: 25px;
}

.container-bar_input {
    height: 35px;
    border-radius: 10px;
    border: 1px solid black;
}

.container-bar__saveButton {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    color: white;
    box-shadow: black;
    background: cornflowerblue;
    font-weight: bold;
}

.container-tab {
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 25px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    justify-self: center;
}

.container-tab__task {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;

}

.container-tab__task__txt {
    margin: auto;
}

.container-tab__task__number {
    margin: auto;
}

.container-tab__task__buttons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
}

.container-tab__task__txt {
    text-decoration-style: solid;
    text-decoration-color: black;
}

.container-tab__task__button__delete {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    color: white;
    box-shadow: black;
    background: red;
    font-weight: bold;
    margin: auto;
}


.container-tab__task__button__finished {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    color: white;
    box-shadow: black;
    background: darkgreen;
    font-weight: bold;
    margin: auto;
}

.container-tabFinished {
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 25px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    justify-self: center;
}

.container-tabFinished__task{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
}
